# Assignment 2

* [link to video](https://youtube.com) 
* [link to homepage](https://titanbender.github.io)

In [23]:
# Used libraries
import json
import numpy as np
import pandas as pd
from __future__ import division
import matplotlib.pyplot as plt
import collections 
from sklearn.cluster import KMeans

## Defined functions

In [24]:
# Create JSON function 
def createJSON(my_dict, file_name):
    with open(file_name, 'w') as outfile:
        json.dump(my_dict, outfile)
        outfile.close()

## Data manipulation

In [44]:
# Load data
raw_DF = pd.read_csv("data/raw_data.csv")

raw_DF = raw_DF.drop('LOCATION', axis = 1)
raw_DF = raw_DF.drop('UNIQUE KEY', axis = 1)
raw_DF = raw_DF.dropna(axis=0)

In [47]:
# Data manipulation 
# Getting hour
hour = raw_DF["TIME"].apply(lambda x: x.split(':'))
raw_DF["HOUR"] = hour.apply(lambda x: int(x[0]))
raw_DF["TIME_DEC"] = hour.apply(lambda x: float(int(x[0]) + int(x[1])/60) )

## Getting year
year = raw_DF["DATE"].apply(lambda x: x.split('/'))
raw_DF["YEAR"] = year.apply(lambda x: int(x[2]))
raw_DF.head()

,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,NUMBER OF PERSONS INJURED,...,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5,HOUR,TIME_DEC,YEAR
36215,03/15/2016,14:10,BROOKLYN,11235.0,40.580222,-73.957524,OCEANVIEW AVENUE,BRIGHTON 11 STREET,,0,...,Brakes Defective,Brakes Defective,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,14,14.166667,2016
37347,03/17/2016,15:00,BROOKLYN,11223.0,40.606975,-73.963057,,,925 KINGS HIGHWAY,0,...,Other Vehicular,Other Vehicular,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,15,15.000000,2016
37479,03/17/2016,12:00,BROOKLYN,11232.0,40.654430,-74.007565,3 AVENUE,38 STREET,,0,...,Unspecified,Unspecified,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,12,12.000000,2016
38469,03/19/2016,0:02,QUEENS,11418.0,40.698824,-73.847003,102 STREET,PARK LANE SOUTH,,1,...,Alcohol Involvement,Alcohol Involvement,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,0,0.033333,2016
38720,03/20/2016,4:40,QUEENS,11368.0,40.747615,-73.866491,41 AVENUE,98 STREET,,0,...,Driver Inattention/Distraction,Driver Inattention/Distraction,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,PASSENGER VEHICLE,4,4.666667,2016

In [48]:
# Pratical data information
print "First day of observations: 01/01/2016"
print "Last day of observations: 01/01/2017"
print 'Total number of obs. in mentioned period:' , raw_DF.shape[0]

First day of observations: 01/01/2016
Last day of observations: 01/01/2017
Total number of obs. in mentioned period: 171

## Plot all

In [54]:
# Data function for 2A
def parseJson(year,file_name):
    # number of obs. 
    tmp_DF = raw_DF[raw_DF["YEAR"] == year]
    #
    tmp_lat = list(raw_DF["LATITUDE"])
    tmp_lon = list(raw_DF["LONGITUDE"])
    tmp_hour = list(raw_DF["HOUR"])
    tmp_borough = list(raw_DF["BOROUGH"])
    # 
    N_tot = len(tmp_lat)
    
    # output
    out_dict = [{'lat': tmp_lat[ii],
                 'lon': tmp_lon[ii],
                 'r': 1,
                 'district': tmp_borough[ii],
                 'hour': tmp_hour[ii],
                 'class': "all"} for ii in range(0,N_tot)]
    #
    createJSON(out_dict, file_name)

In [55]:
parseJson(2016, "data/all.json")

In [33]:
tmp